!!! XML
!!!
%html
  %head
    %title op.ENcode
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "http://floating-fog-3562.heroku.com/fontin_sans.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/bootstrap/css/bootstrap.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "./style.css", :type => "text/css"}
  
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand
            op.ENcode browser
          .nav-collapse
            %ul.nav
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "http://wiki.lifesciencedb.jp/mw/index.php/BH12.12/op.ENcode" } BH12.12
              %li
                %a{:href => "https://github.com/inutano/opencode/" } GitHub
              %li
                %a{:href => "https://github.com/inutano/opencode/wiki" } Wiki

    %header
      %h1 op.ENcode
      %p open code * operation ENCODE
      %hr
    
    %section{ :class => "form_section" }
      %form{ :name => "form", :action => "/result", :method => "POST" }
        %fieldset
          %textarea{ :name => "genes", :id => "inputtext", :placeholder => "Enter Gene Ids." }
          %p{ :class => "formp" }
            %span{ :class => "help-inline" }
              Assays:
            %label{ :class => "checkbox inline" }
              %input{ :type => "checkbox", :name => "a1", :value => "Metyl Array" }
                Metyl Array
            %label{ :class => "checkbox inline" }
              %input{ :type => "checkbox", :name => "a2", :value => "Metyl RRBS" }
                Metyl RRBS
          %p{ :class => "formp" }
            %span{ :class => "help-inline" }
              Cell Type
            %label{ :class => "checkbox inline" }
              %input{ :type => "checkbox", :name => "c1", :value => "GM12878" }
                GM12878
            %label{ :class => "checkbox inline" }
              %input{ :type => "checkbox", :name => "c2", :value => "h1-hESC" }
                h1-hESC
            %label{ :class => "checkbox inline" }
              %input{ :type => "checkbox", :name => "c3", :value => "K562" }
                K562
          %p{ :class => "formp" }
            %button{ :type => "submit", :class => "btn btn-large btn-block btn-primary" }
              submit
        
    %footer
      op.ENcode 2012
